*{
    box-sizing: border-box;
    letter-spacing: 1.3px;
    word-spacing: 3px;
    transition: all .4s;
}


.todo-inputs
{
    padding: 2%;
    width: 98%;
    margin: 50px auto 0;
    min-height: 45vh;
    background-color: rgba(137, 43, 226, 0.799);
    border-radius: 10px;
    
}

.coustom{
    padding: 6px 55px;
    font-weight: bold;
}

.todo-output
{
    display: flex;
    gap : 20px;
    padding: 20px;
    width: 95%;
    margin: 50px auto;
    flex-wrap: wrap;
    height: 55vh;
    box-shadow : 0px 0px 15px black;
    border-radius: 5px;
    overflow-y:scroll ;

}
.card{
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    flex-direction: column;
    width: 320px;
    height: 250px;
  
}
.card span{
    margin-top: 10px;
    align-self: flex-end;

    
}
.border-red{
    border : 1px solid red;
    box-shadow: 0px 0px  6px red;
}
footer{
    height: 10vh;
    width: 100%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgba(137, 43, 226, 0.799);
}


@media (max-width:770px) {
    .card{
        min-width: 90%;
        margin: 0px auto;
    }
}
